/*
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
*/

params {
    biblio              = "${projectDir}/biblio.bib"
    help                = false
    notes               = false
    notes_only          = false
    outdir              = null
    outname             = null
    pictures            = "${projectDir}/pictures"
    publish_dir_mode    = 'copy'
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

// workflow output
outputDir = params.outdir
workflow.output.mode = params.publish_dir_mode

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}

manifest {
    description     = 'Compile LaTeX Beamer documents'
    homePage        = 'https://github.com/maxulysse/compile-latex'
    nextflowVersion = '>=25.10.2'
    contributors    = [
        [
            name: 'Maxime U Garcia',
            github: 'maxulysse',
            contribution: ['author', 'contributor', 'maintainer'],
            orcid: '0000-0003-2827-9261',
        ],
    ]
    version         = '3.0'
}

profiles {
    docker {
        docker {
            enabled = true
            fixOwnership = true
        }
    }
    test {
        params.tex = "${projectDir}/sample.tex"
    }
}

process {
    scratch = true
    shell = [
        "bash",
        "-C",      // No clobber - prevent output redirection from overwriting files.
        "-e",      // Exit if a tool returns a non-zero status/exit code
        "-u",      // Treat unset variables and parameters as an error
        "-o",      // Returns the status of the last command to exit..
        "pipefail" //   ..with a non-zero status or zero if all successfully execute
    ]
}
