/*
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  description = 'Compile LaTeX Beamer documents'
  homePage = 'https://github.com/MaxUlysse/compile-latex'
  nextflowVersion = '>=0.32.0'
  author = 'MaxUlysse'
  version = '2.2'
}

params {
  biblio = 'biblio.bib'
  help = false
  notes = ''
  notesOnly = ''
  outDir = "${PWD}"
  outName = ''
  pictures = 'pictures'
  tag = 'latest'
}

process {
  scratch = true
  shell = ['/bin/bash', '-xeuo', 'pipefail']
  container = "maxulysse/compile-latex:${params.tag}"
}

docker {
  enabled = true
  fixOwnership = true
}

profiles {
  test {
    params.tex = 'sample.tex'
  }
}
