/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Config options for docker.
 */

singularity {
  enabled = true
}

process.container = 'docker://maxulysse/compile-beamer:1.5'
