/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Config options for docker.
 */

singularity {
  enabled = true
}

process.container = '/tmp/compile-beamer/maxulysse_compile-beamer_1.3-2017-02-01-99a399e1a324.img'
