/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Config options for docker.
 */

singularity {
  enabled = true
}

process.container = '4d1b00119875a4cfa48c00eb31d6f41312cf9763.img'
